body{
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
body{
    color: #ffff;
    font-display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
}

.heart{
    position:relative;
    height: 70px;
    width: 70px;
    background: #ca1616;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #ca1616;
    animation: heart 0.6 linear infinite;
}

.heart:before{
   content: '';
   position: absolute;
   height: 70px;
   width: 70px;
   background: #ca1616;
   border-radius: 50px;
   top: -50%;
   box-shadow: -10px 10px 90px #ca1616;
}
.heart:after{
   content: '';
   position: absolute;
   height: 70px;
   width: 70px;
   background: #ca1616;
   border-radius: 50px;
   right: -50%;
   box-shadow: -10px 10px 90px #ca1616;
}
.hello{
    color:#b91313 ;
    font-size: 80px;
    min-height: 30vh;
    margin: 10;
    padding: 10;
    display: flex;
    align-items: flex-end;
}
.conatainer{
    color:#b91313 ;
    font-size: 100px;
    min-height: 40vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}  


   
    


    